:root {
  --md-primary-fg-color:        #002E5D;
  --md-primary-fg-color--light: #FFFFFF;
  --md-primary-fg-color--dark:  #0047BA;
  --md-accent-fg-color:         #0047BA;
}

/* Color for Emojis and Icons */
.excel {
  color: #008000;
}
.word {
  color: #0078d7
}
.pdf {
  color: #FF0000
}
.powerpoint {
  color: #D04423
}
.docker {
  color: #0db7ed /*Fun fact: this hex code is actually called "Docker Cerulean"*/
}
.linkedin {
  color: #0077B5
}
.youtube {
  color: #EE0f0F
}
.heart {
  color: #0047BA
}
.ubuntu {
  color: #FFFFFF;
  background-color: #E95420;
}



/* Animations */
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}